<head>
    <title>Users</title> 
 </head>
<h1>Пользователи</h1>
<p align="right"><strong>Пользователь: {{userId}}</strong></p>  

<table >
    <tr>
        <th class="table_th10"> Name</th>     <th class="table_th10">Last Name</th>   <th class="table_th10">Login</th>   <th class="table_th10">Email</th> <th class="table_th10">Phone </th> <th class="table_th10"> </th>
      </tr>

    <tr  *ngFor="let item of users" >
      <td>{{item.userName}}</td>  <td>{{item.userLastName}}</td> <td>{{item.login}}</td> <td>{{item.email}}</td> <td>{{item.phone}}</td> <td> <button (click)="delUser(item.email)" >Удалить</button> </td>
    </tr>
  </table>