<head>
    <title>Users</title> 
 </head>
<h1>Пользователи</h1>
<p align="right"><strong>Пользователь: {{userId}}</strong></p>  

<table >
    <tr>
        <th class="table_th150"> Имя</th>     
        <th class="table_th150">Фамилия</th>   
        <th class="table_th150">Login</th>   
        <th class="table_th150">Email</th> 
        <th class="table_th150">Телефон </th> 
        <th> <button (click)="getUsers()">Показать пользователей</button> </th>
      </tr>

    <tr  *ngFor="let item of users" >
      <td>{{item.userFirstName}}</td>  
      <td>{{item.userLastName}}</td> 
      <td>{{item.userName}}</td> 
      <td>{{item.email}}</td> 
      <td>{{item.phoneNumber}}</td> 
      <td> <button (click)="delUser(item.email)" >Удалить</button> </td>
    </tr>
  </table>