<header>
    
    <table class="header_table">
        <tr>
          <th class="table_th"> <a routerLink="">Home</a> </th>     
          <th class="table_th"> <a routerLink="record">Record</a> </th> 
          <th class="table_th"> <a routerLink="user">User</a> </th>
          <th class="table_th"> <a routerLink="login">Login</a> </th> 
          <th class="table_th"> <a routerLink="registration">Registration</a> </th>
          <th class="table_th"> <a routerLink="logout">LogOut</a> </th> 
        </tr>
      </table>
      
</header>
 
<router-outlet></router-outlet>