<head>
    <title>Registration</title> 
 </head>
<h1>Registration</h1>  

<br/><br/>
<input [(ngModel)]="firstName" placeholder="First Name"/> <br/><br/>
<input [(ngModel)]="lastName" placeholder="Last Name"/> <br/><br/>
<input [(ngModel)]="login" placeholder="Login"/> <br/><br/>
<input [(ngModel)]="email" placeholder="Email"/> <br/><br/>
<input [(ngModel)]="phone" placeholder="Phone"/> <br/><br/> 
<input [(ngModel)]="password" placeholder="Password"/> <br/><br/> 
<button (click)="registrationUser()" >Confirm</button>